li>a {
    display: block;
    color: black;
    padding: 30px;
    text-decoration: none;
    text-align: center;
}
li>a:hover {
     background-color: black;
     color: white;
 }
ul,a{
    list-style-type: none;
    padding: 0px;
}
h1{
    text-align: center;
}

 #main{
     background-color: #4CAF50;
     color: white;
 }
body {
        background-color: wheat;
        text-align: center;
        max-width:400px;
        margin: auto;
   }